<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <div id="eform" >

        <form action="/mailer" onsubmit="return validate()" method="GET">
    
            <label for="email" id="emaillabel">Email :</label><br>
            <input type="email" name="email" id="email" placeholder="enter email address"><br>
            <label for="" id="error"></label><br><br>
            <button id="button">Sent Email </button>
        
        </form>
    </div>

    <script src="/public/js/home.js"></script>
</body>
</html>